<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Образовательный кампус</title>
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
  <h1>Об авторе</h1>
  <p>Автор проекта</p>
  <p>Печерица Кирилл Павлович</p>
  <p>ПИ22-1</p>
  <p>Москва, 2024</p>
  <a href="/welcome">
    <button style="padding: 10px 20px; font-size: 16px;">Назад</button>
  </a>
</div>
<footer style="text-align: center; margin-top: 20px; font-size: 14px; color: gray;">
  &copy; Все права защищены.
</footer>
</body>
</html>

